PUBLIC_SITE_URL=https://sustenido.app
PUBLIC_APP_URL=
PUBLIC_CTA_MODE=WAITLIST
PUBLIC_CTA_URL=
PUBLIC_CONTACT_EMAIL=
PUBLIC_CHROME_EXTENSION_URL=
PUBLIC_CHROME_EXTENSION_AVAILABLE=false
PUBLIC_ANALYTICS_ID=
