@tailwind base;
@tailwind components;
@tailwind utilities;

.fake {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

body {
  background: linear-gradient(145deg, #efefef, #f0f0f0);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.blinking-icon {
  animation: blink 0.5s infinite alternate; /* Adjust animation duration as needed */
}

.button-neuphormism-a {
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #bebebe, -3px -3px 10px #ffffff;
  cursor: pointer;
  color: gray;
}

.neuphormism-a {
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #bebebe, -3px -3px 10px #ffffff;
  cursor: pointer;
  color: gray;
}

.neuphormism-a:hover {
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #bebebe, inset -3px -3px 10px #ffffff;
}

.neuphormism-b {
  border-radius: 5px;
  background: linear-gradient(145deg, #efefef, #f0f0f0);
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  cursor: pointer;
}

.neuphormism-b-se {
  border-radius: 5px;
  background: linear-gradient(145deg, #efefef, #f0f0f0);
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  cursor: pointer;
}

.neuphormism-b-se:hover {
  border-radius: 5px;
  background: linear-gradient(145deg, #efefef, rgba(173, 170, 170, 0.539));
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  cursor: pointer;
}

.neuphormism-c {
  border-radius: 5px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  cursor: pointer;
  color: gray;
}

.neuphormism-c:hover {
  border-radius: 5px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}

.neuphormism-d {
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
}


/* Adicione isso no seu arquivo CSS */
.disabled-link {
  pointer-events: none;
  color: grey;
}

.card-neumorfismo {
  border-radius: 12px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
}

.input-neumorfismo {
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: inset 1px 1px 3px #bebebe,
            inset -1px -1px 3px #ffffff;
}

.button-neumorfismo-primary {
  color: white;
  border-radius: 6px;
  background: green;
  box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
}

.nav-neumorfismo {
  border-radius: 12px;
  background: linear-gradient(315deg, #cacaca, #f0f0f0);
  box-shadow:  -20px -20px 60px #bebebe,
               20px 20px 60px #ffffff;
}